.chatWrapperReceived{
    margin-top: 15px;
    display: flex;
    padding: 10px;
    position: relative;
}

.chatWrapperSent{
    position: relative;
    margin-top: 15px;
    display: flex;
    padding: 10px;
    justify-content: flex-end ;
    
}

.bodyWrapper{
    padding-left: 25px;
}

.avatar{
    margin-top: 15px;
    border-radius: 50%;
    height: 35px;
}

.name{
    font-size: 0.9rem;
    font-style: italic;
}

.chat-message{
    background-color: lightgray;
    border-radius: 7px; 
    padding: 10px 15px;
}

.chat-message-sent{
    background-color: #3C99DC;
    color: white; 
    border-radius: 7px; 
    padding: 10px 15px;
}