.chat-message {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.message-box {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding: 0px 10px;
}

.message-body {
  padding: 10px;
  background: #e5e5ea;
  color: black;
  border-radius: 15px;
  transform: translate(0, 2px);
}

.sender-box {
  margin-left: 50px;
  padding: 1px;
  font-size: 0.75em;
  font-weight: bold;
}

.avatar-img {
  width: 35px;
  border-radius: 50%;
}
