footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  padding: 10px;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
input {
  border: 1px solid #1185f7;
  height: 20px;
  border-radius: 20px;
  margin: 0 auto;
  outline: none;
  width: 200px;
}
