footer {
  /* 
    These two lines replicate the "blurry white background"
    effect, as seen in iMessage
  */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, 0.4);
  height: 60px;
  position: sticky;
  bottom: 0;
}

.text-input {
  border-radius: 20px;
  width: 80%;
  margin: 10px 10%;
  line-height: 35px;
  border: 1px solid rgba(128, 128, 128, 0.473);
  background-color: white;
  font-size: 20px;
}

.text-input:focus {
  border: 1px solid #1185f7;
  outline: none;
}
