header {
  height: 100px;
  background-color: #f9f9f9;
  /* 
    Protip: layering multiple box shadows can create a
    richer shadow effect than just using a single one.
  */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15),
    0px 1px 0.5px rgba(0, 0, 0, 0.075);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 40%;
}

.avatarWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 95%;
  flex: 1;
}

.headerAvatar {
  width: 70%;
  border-radius: 50%;
  border: 2px solid black;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}
